# Copyright IBM Corp. 2021, 2023
# SPDX-License-Identifier: MPL-2.0

---
global:
  name: consul
server:
  enabled: false
externalServers:
  enabled: true
  hosts: 
    - "10.15.0.200"
controller:
  enabled: true
ui:
  enabled: true
connectInject:
  enabled: true
  default: false  # true will inject by default, otherwise requires annotation
  centralConfig:
    enabled: "true"
client:
  join:
    - "10.15.0.200"
  exposeGossipPorts: true
  extraEnvironmentVars: { "NODE": "kubernetes" }